body {
    margin: 0;
}

.main-cadastro-user{
    width: 100vw;
    height: 100vh;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro-user{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro-user > h1 {
    font-size: 3vw;
    color: #e49c2b;
}

.left-cadastro-user-image{
    width: 35vw;
}

.right-cadastro-user{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro-user{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #152427;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro-user > h1 {
    color: #e49c2b;
    font-weight: 700;
    margin: 0;
}

.text-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background: #F9F9F9;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-field > label{
    color:#fee296;
    margin-bottom: 10px;
}

.botao-cadastro-user{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    background: #F9F9F9;
    color:#e49c2b;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}